.header {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* PRICING* */

h2 {
    text-align: center;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pricing-handguns, .pricing-rifles, .pricing-shotguns, .pricing-handgun-package {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.pricing-handgun-package-description {
    width: 500px;
}


/* OVERALL CARD STYLES */

.slider {
    margin-bottom: 75px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    text-decoration: none;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.slide-img{
    height: 300px;
    position: relative;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: "Bebas Neue";
}

.type {
    display: flex;
    flex-direction: column;
}


.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span{
    color: rgba(26, 26, 26, 0.5);
}

.price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: Bebas Neue;
    letter-spacing: 0.5px;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay a {
    font-size: 20px;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 7px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover{
    color: #FFFFFF;
    background-color: #341283;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* COMPACT HANDGUNS */
.handguns-compact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}