body {
    background-color: #edf3ff;
    margin: 0px 0px 0px 0px;
    font-family: "Inter";
    color: #000000;
}

h2 {
    font-family: "Bebas Neue";
    color: #000000;
    font-size: 42px;
    margin: 0px;
    padding-left: 10px;
}
h3 {
    font-family: "Bebas Neue";
    color: #edf3ff;
    font-size: 30px;
    margin: 0px;
    padding-left: 10px;
}
h4 {
    font-family: "Inter";
    font-size: 16px;
    margin: 0px;
    padding-left: 10px;
}
h5 {
    font-family: "Inter";
    margin: 0px;
}


/* header */
header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 9;

}

nav {
    display: flex;
    flex-direction: row;
    background-color: #edf3ff;
    width: 100%;
    background-image: url("");
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    max-height: 100px;
}

nav img {
    max-width: 100px;
    max-height: auto;
    align-content: flex-start;
    padding-right: 100px;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    font-family: "Bebas Neue";
    font-size: 20px;
    padding: 10px;

}

nav ul li a {
    text-decoration: none;
    color: rgb(182, 181, 184);
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    transition: color .45s;
}

/* splash video */

.splash-video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.overlay-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.overlay-container img {
    filter: drop-shadow(5px 5px 4px black)
}

.overlay-container a {
    display: inline-block;
    font-family: "Bebas Neue";
    font-size: 20px;
    height: 30%;
    text-align: center;
    align-self: center;
    border-radius: 7px;
    background-color: #1100D3;
    color: white;
    width: 50%;
    margin-top: 10%;
}

.splash-video a:hover {
    background-color: rgb(2, 2, 180);
}

/* contact + hours */

.hours-contact-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

.hours {
    background-image: url("/media/img/range_empty.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.hours h2 {
    padding-left: 20px;
}

.hours h3 {
    padding-left: 20px;
    color:#333333;
}

.hours h4 {
    padding-left: 20px;
}

.contact {
    background-image: url("/media/img/lobby.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.contact h2 {
    padding-left: 20px;
}

.contact h3 {
    padding-left: 20px;
    color: #333333;
}

.contact h4 {
    padding-left: 20px;
}

.section-label {
    display: flex;
    align-content: center;
    justify-content: center;;
}

/* pricing */

.pricing {
    background-image: url(/media/img/outside_drone.jpg);
    background-position: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.range-fees {
    display: grid;
    grid-template-columns: 28% 28% 28% 15%;
    justify-items: center;
    align-items: top;
}
.pricing h3{
    color: black;
    display: flex;
    flex-direction: row;
}

.pricing h2 {
    justify-self: center;
    
}

.pricing h4 {
    align-self: center;
}

.pricing-essentials h6 {
    margin: 0px;
}

.essentials-text-container {
    display: flex;
    align-items: center;
}

.essentials-text-container h6 {
    margin-left: 20px;
}

.price-and-description {
    display: flex;
}

.price-and-description h3 h4{
    padding-left: 10px;
}


.target-slider {
    width: 150px;
    height: 225px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
  }

.target-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 10;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

.first-responders {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-rates {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* rentals */

  .slider {
    margin-bottom: 75px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


a{
    text-decoration: none;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.slide-img{
    height: 300px;
    position: relative;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: Bebas Neue;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span{
    color: rgba(26, 26, 26, 0.5);
}

.price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: Bebas Neue;
    letter-spacing: 0.5px;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 7px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover{
    color: #FFFFFF;
    background-color: #341283;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* range rules */
.rules {
    background-image: url(/media/building/looking_downrange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* online store */
.online-store {
    background-image: url(/media/img/TL_online_store.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-store h4 {
    padding: 5px;
}

.online-store a {
    font-family: "Bebas Neue";
    font-size: 20px;
    color: 1100D3;
    height: 5%;
    width: 20%;
    align-self: center;
    text-align: center;
    border-radius: 7px;
    background-color: blue;
    color: white;
}

.online-store a:hover {
    background-color: rgb(0, 0, 131);
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question button {
    font-family: "Bebas Neue";
    font-size: 20px;
    color: 1100D3;
    height: 5%;
    width: 20%;
    align-self: center;
    text-align: center;
    border-radius: 7px;
    background-color: rgb(162, 162, 173);
    color: black;
    margin: 50px;
}

.question button:hover {
    background-color:#252525;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.submit-button {
    font-family: "Bebas Neue";
    font-size: 20px;
    color: 1100D3;
    height: 5%;
    width: 20%;
    border-radius: 7px;
    background-color: rgb(162, 162, 173);
    color: black;
}

.submit-button:hover {
    background-color:#252525;
    color: white;
}

/* footer */

.contact-card-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact-card-container img {
    padding: 10px;
    height: 30px;
    width: 30px;
}

.logo {
    height: 100px;
    width: 100px;
}

/* slide-in */
.slide-left {
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 0.5s ease, opacity 0.5s ease;
}

.slide-right {
    position: relative;
    right: -100%;
    opacity: 0;
    transition: right 0.5s ease, opacity 0.5s ease;
}

.slide-bottom {
    position: relative;
    bottom: -100%;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}